{% extends "core/base.html" %}

{% block title %}تعيين كلمة مرور جديدة | منصة وقاية{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card shadow-sm border-0 rounded-4">
                <div class="card-body p-4 p-md-5">
                    <div class="text-center mb-4">
                        <h2>تعيين كلمة مرور جديدة</h2>
                    </div>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-main w-100">
                            حفظ كلمة المرور الجديدة
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
